@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.kk{
    font-family:'Dancing Script';
}
/*
img{
    width: 100%;
    height: 200px;
    object-fit: contain;
}
*/
