@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    
    width: 100%;
    height: auto;
}
/*
.box{
    display: flex;
    border: 3px solid black;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;


}

.opg{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 5px dotted red;
    padding: 34px;
}*/
h1{
    font-family: 'Dancing Script';
    text-align: center;
    margin-bottom: 20px;
    font-size: 62px;
    color: whitesmoke;
}

body{ 
    /*background-image:linear-gradient(to right,gold,whitesmoke,black);
    background-image: linear-gradient(to right,gold,black);*/
    background-image:linear-gradient(to right,whitesmoke,black);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
    width: 100%;
    height: auto;
    
}
button[type=button]
{
    background-color: rgb(255, 110, 110);
}
.container{ 
    display: flex;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.gop{
    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px , rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0,0,0,0.24) 0px 1px 2px;

}
span{
    position: relative;
    margin: 32px;
    color: whitesmoke;
    font-size: 32px;
}
.form{
    color:whitesmoke ;
    width: 400px;
    min-width:200px;
    padding: 32px;
}

.lcon{
    border-radius: 50px;
    height: 34px;
    width: 100%;
}

.op{
    display: flex;
    justify-content: space-evenly;
    font-size: medium;
}
.con{
    height: 48px;
    margin-bottom: 30px;
}
/*
button{
    padding: 5px 20px 5px 20px ;
    border-radius: 50px;
    background-color: gray;
    color: aliceblue;

}
button:hover{
    background-color:skyblue
}*/

a{
    text-decoration: none;
    color:blue;
}

.ll{
    text-align: center;
    margin-top: 15px;
}

button{
    padding: 15px;
    border: 0;
    background-color: rgb(239, 239, 238);
    font-size: medium;
    width: 100%;
    border-radius: 50px;
    /*animation: butt 0.3s linear infinite running;*/
}
button:hover{
    border: 0;
    color: azure;
    animation: butt 1.5s linear infinite running;
    cursor: pointer;

    color:rgba(38, 228, 0, 0.12)
}


@keyframes butt {
    from {background-color: rgb(114, 114, 114);}
    to {background-color: rgb(19, 19, 0);}
  }